$bg-color: #fbfbfb;
$creme-white: #fafafa;
$clear-white: #ffffff;
$light-grey: #f4f4f4;
$grey: #737373;
$dark: #262626;
$dark-hover: #909090;
$turqoise: #015168;
$turqoise2: #057b83;
$turqoise-light: #017c8c;
