@media (max-width: 375px) {
	.main {
		.welcome-section {
			.wrapper {
				.content-part {
					padding: 2em 0.4em;

					&__cta-button {
						font-size: 1.7rem;
					}
				}

				.image-part {
					&__trapezoid {
						height: 220px;
					}

					&__avatar {
						width: 250px;
						height: 250px;
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.header {
		.wrapper {
			.hamburger {
				display: none;
			}

			.nav {
				position: static;
				flex-direction: row;
				justify-content: flex-end;
				height: auto;
				width: fit-content;
				z-index: 1;

				&__menu {
					display: flex;
					align-items: center;

					&-item {
						&-link {
							padding-left: 1.25em;
							padding-right: 1.25em;
							height: 80px;
							font-size: 1.7rem;
							opacity: 1;
						}
					}
				}
			}
		}
	}

	.main {
		.welcome-section {
			.wrapper {
				.content-part {
					padding: 2em 6em;

					&__heading {
						font-size: 5rem;
					}

					&__description,
					&__professions {
						font-size: 1.6rem;
					}

					&__socials {
						&-button {
							margin: 1.5em 0.75em;
							width: 40px;
							height: 40px;
						}
					}

					&__cta-button {
						font-size: 2.1rem;
					}
				}

				.image-part {
					&__trapezoid {
						margin-top: 3em;
						height: 350px;
						width: min(70%, 350px);
					}

					&__avatar {
						height: 350px;
						width: 350px;
					}
				}
			}
		}
	}
}
