@use "colors" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-padding-top: 20px;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	background-color: $bg-color;
}

.wrapper {
	margin: 0 auto;
	width: min(100%, 1200px);
}

.block-scroll {
	overflow-y: hidden;
}

.header-shadow {
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
	background-color: $bg-color;
	transition: box-shadow 0.3s;
	z-index: 999;

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1em;
		height: 100%;
		z-index: 999;

		.logo {
			img {
				width: 60px;
				height: 60px;
			}
		}

		.nav {
			position: absolute;
			top: 80px;
			left: 0;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			height: 0;
			width: 100%;
			background-color: $bg-color;
			transition: height 0.3s ease-in;
			overflow: hidden;
			z-index: 999;

			&__menu {
				text-align: center;
				list-style-type: none;

				&-item {
					&-link {
						display: block;
						padding: 1.75em 0;
						font-family: "Poppins", sans-serif;
						color: $dark;
						text-decoration: none;
						transition: color 0.3s;

						&:hover {
							color: $dark-hover;
						}
					}
				}
			}
		}

		.show-nav {
			height: 350px;
		}

		.nav-items-animation {
			animation: navItemsAnimation 1s both;
			transition: opacity 0.3s ease-in-out, transform 0.3s;
		}

		.navigation-shadow {
			box-shadow: 0px 3px 2px rgba(183, 183, 183, 0.4);
		}
	}
}

.main {
	margin-top: 80px;

	.section-title {
		position: relative;
		font-family: "Titillium Web", sans-serif;
		font-size: 3rem;
		color: $turqoise-light;
		text-align: left;
	}

	.welcome-section {
		.wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;

			.content-part {
				padding: 1em;
				text-align: center;
				order: 2;

				&__heading {
					font-size: 3.8rem;
					font-family: "Titillium Web", sans-serif;
					font-weight: 900;
					color: transparent;
					-webkit-text-stroke: 1px #203c61;
				}

				&__heading > span {
					-webkit-text-stroke: 0;
					color: transparent;
					background: linear-gradient(
						225deg,
						rgba(1, 124, 140, 1) 20%,
						rgba(16, 165, 160, 1) 65%,
						rgba(35, 214, 185, 1) 100%
					);
					-webkit-background-clip: text;
					background-clip: text;
				}

				&__description,
				&__professions {
					font-family: "Poppins", sans-serif;
					color: $grey;
					font-size: 1.5rem;
				}

				&__professions {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-wrap: wrap;
					margin-top: 1em;

					&-box {
						display: flex;
						align-items: center;
						margin: 0.25em 1em;

						.dot {
							display: inline-block;
							margin-right: 0.25em;
							height: 14px;
							width: 14px;
							background-color: transparent;
							border: 1px solid $grey;
							border-radius: 50%;
						}
					}
				}

				&__socials {
					display: flex;
					align-items: center;
					justify-content: center;

					&-button {
						display: flex;
						justify-content: center;
						align-items: center;
						margin: 1em 0.75em;
						height: 33px;
						width: 33px;
						background-color: $turqoise;
						border: none;
						transition: background-color 0.3s;
						cursor: pointer;

						&:hover {
							background-color: $turqoise-light;
						}
					}
				}

				&__cta-button {
					margin-top: 1em;
					padding: 0.4em 1.8em;
					font-family: "Poppins", sans-serif;
					font-size: 1.9rem;
					border: 3px solid $turqoise-light;
					color: $turqoise-light;
					background-color: $bg-color;
					transition: border 0.3s, background-color 0.3s, color 0.3s;
					cursor: pointer;

					&:hover {
						border: 3px solid $creme-white;
						background-color: $turqoise;
						color: $creme-white;
					}
				}
			}

			.image-part {
				position: relative;
				display: flex;
				justify-content: center;
				width: 100%;
				order: 1;

				&__trapezoid {
					margin-top: 3em;
					height: 260px;
					width: min(70%, 280px);
					background: rgb(1, 124, 140);
					background: linear-gradient(
						225deg,
						rgba(1, 124, 140, 1) 20%,
						rgba(16, 165, 160, 1) 65%,
						rgba(35, 214, 185, 1) 100%
					);
					border-radius: 12px;
					clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
					z-index: 2;
				}

				&__avatar {
					position: absolute;
					bottom: 0;
					height: 300px;
					width: 300px;
					z-index: 3;
				}
			}
		}
	}

	.about-me {
		margin-top: 2em;
		padding: 1.5em 1em;
		background-color: $light-grey;

		.wrapper {
			.about-me-box {
				position: relative;

				.info-box {
					display: flex;
					flex-direction: column;
					order: 2;

					&__text {
						margin: 1.25em 0;
						font-family: "Poppins", sans-serif;
						font-size: 1.5rem;
						color: $grey2;
					}

					&__cta-button {
						display: flex;
						align-items: center;
						justify-content: center;
						margin-top: 1.5em;
						padding: 0.4em 1.8em;
						font-family: "Poppins", sans-serif;
						font-size: 1.9rem;
						border: 3px solid $turqoise-light;
						color: $turqoise-light;
						background-color: transparent;
						transition: border 0.3s, background-color 0.3s, color 0.3s;
						cursor: pointer;

						&:hover {
							border: 3px solid $creme-white;
							background-color: $turqoise;
							color: $creme-white;
						}
					}
				}

				.profile-picture {
					display: none;
					height: 500px;
					border: 4px solid $blue;
					order: 1;
					z-index: 3;
				}

				.dots {
					display: none;
					position: absolute;
					bottom: -80px;
					left: -80px;
					width: 320px;
					z-index: 2;
				}
			}
		}
	}

	.testimonials {
		margin-top: 2em;
		padding: 1.5em 1em;

		.wrapper {
			.testimonials-box {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin-top: 1em;

				&__block {
					margin: 2em 1em;
					padding: 1em;
					max-width: 450px;
					background-color: $bg-color;
					box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

					&-company {
						display: flex;
						align-items: center;
						justify-content: center;

						&-logo {
							height: 50px;
							width: 50px;
						}

						&-name {
							margin-left: 0.25em;
							font-family: "Titillium Web", sans-serif;
							font-size: 2.2rem;
							color: $dark;
						}
					}

					&-stars {
						display: flex;
						align-items: center;
						justify-content: center;
						margin-top: 0.8em;

						svg {
							margin: 0 0.1em;
						}
					}

					&-content {
						margin: 1.25em 0;

						&-description {
							font-family: "Poppins", sans-serif;
							font-size: 1.5rem;
							color: $grey2;
							text-align: center;
						}
					}
				}
			}
		}
	}
}

@keyframes navItemsAnimation {
	from {
		transform: translateX(100%);
		opacity: 0;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}
