*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-padding-top: 20px;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
}

.wrapper {
	margin: 0 auto;
	width: min(100%, 1200px);
}
