@use "colors" as *;

@mixin flexCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin imgCenter {
	background-size: cover;
	background-position: center;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-padding-top: 80px;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	background-color: $bg-color;
}

.wrapper {
	margin: 0 auto;
	width: min(100%, 1200px);
}

.block-scroll {
	overflow-y: hidden;
}

.header-shadow {
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
	background-color: $bg-color;
	transition: box-shadow 0.3s;
	z-index: 999;

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1em;
		height: 100%;
		z-index: 999;

		.logo {
			img {
				width: 60px;
				height: 60px;
			}
		}

		.nav {
			position: absolute;
			top: 80px;
			left: 0;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			height: 0;
			width: 100%;
			background-color: $bg-color;
			transition: height 0.3s ease-in;
			overflow: hidden;
			z-index: 999;

			&__menu {
				text-align: center;
				list-style-type: none;

				&-item {
					&-link {
						display: block;
						padding: 1.75em 0;
						font-family: "Poppins", sans-serif;
						color: $dark;
						text-decoration: none;
						transition: color 0.3s;

						&:hover {
							color: $dark-hover;
						}
					}
				}
			}
		}

		.show-nav {
			height: 350px;
		}

		.nav-items-animation {
			animation: navItemsAnimation 1s both;
			transition: opacity 0.3s ease-in-out, transform 0.3s;
		}

		.navigation-shadow {
			box-shadow: 0px 3px 2px rgba(183, 183, 183, 0.4);
		}
	}
}

.main {
	margin-top: 80px;

	.section-title {
		position: relative;
		font-family: "Titillium Web", sans-serif;
		font-size: 3rem;
		color: $turqoise-light;
		text-align: left;
	}

	.welcome-section {
		.wrapper {
			@include flexCenter();
			justify-content: center;

			.content-part {
				padding: 1em;
				text-align: center;
				order: 2;

				&__heading {
					font-size: 3.8rem;
					font-family: "Titillium Web", sans-serif;
					font-weight: 900;
					color: transparent;
					-webkit-text-stroke: 1px #203c61;
				}

				&__heading > span {
					-webkit-text-stroke: 0;
					color: transparent;
					background: linear-gradient(
						225deg,
						rgba(1, 124, 140, 1) 20%,
						rgba(16, 165, 160, 1) 65%,
						rgba(35, 214, 185, 1) 100%
					);
					-webkit-background-clip: text;
					background-clip: text;
				}

				&__description,
				&__professions {
					font-family: "Poppins", sans-serif;
					color: $grey;
					font-size: 1.5rem;
				}

				&__professions {
					@include flexCenter();
					flex-wrap: wrap;
					margin-top: 1em;

					&-box {
						display: flex;
						align-items: center;
						margin: 0.25em 1em;

						.dot {
							display: inline-block;
							margin-right: 0.25em;
							height: 14px;
							width: 14px;
							background-color: transparent;
							border: 1px solid $grey;
							border-radius: 50%;
						}
					}
				}

				&__socials {
					@include flexCenter();

					&-button {
						@include flexCenter();
						margin: 1em 0.75em;
						height: 33px;
						width: 33px;
						background-color: $turqoise;
						border: none;
						transition: background-color 0.3s;
						cursor: pointer;

						&:hover {
							background-color: $turqoise-light;
						}
					}
				}

				&__cta-button {
					margin-top: 1em;
					padding: 0.4em 1.8em;
					font-family: "Poppins", sans-serif;
					font-size: 1.9rem;
					border: 3px solid $turqoise-light;
					color: $turqoise-light;
					background-color: $bg-color;
					transition: border 0.3s, background-color 0.3s, color 0.3s;
					cursor: pointer;

					&:hover {
						border: 3px solid $creme-white;
						background-color: $turqoise;
						color: $creme-white;
					}
				}
			}

			.image-part {
				position: relative;
				display: flex;
				justify-content: center;
				width: 100%;
				order: 1;

				&__trapezoid {
					margin-top: 3em;
					height: 260px;
					width: min(70%, 280px);
					background: rgb(1, 124, 140);
					background: linear-gradient(
						225deg,
						rgba(1, 124, 140, 1) 20%,
						rgba(16, 165, 160, 1) 65%,
						rgba(35, 214, 185, 1) 100%
					);
					border-radius: 12px;
					clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
					z-index: 2;
				}

				&__avatar {
					position: absolute;
					bottom: 0;
					height: 300px;
					width: 300px;
					z-index: 3;
				}
			}
		}
	}

	.about-me {
		margin-top: 2em;
		padding: 1.5em 1em;
		background-color: $light-grey;
		overflow: hidden;

		.wrapper {
			.about-me-box {
				position: relative;

				.info-box {
					display: flex;
					flex-direction: column;
					order: 2;

					&__text,
					&__cta-button {
						font-family: "Poppins", sans-serif;
					}

					&__text {
						margin: 1.25em 0;
						font-size: 1.5rem;
						color: $grey2;
					}

					&__cta-button {
						display: flex;
						align-items: center;
						justify-content: center;
						margin-top: 1.5em;
						padding: 0.4em 1.8em;
						font-size: 1.9rem;
						border: 3px solid $turqoise-light;
						color: $turqoise-light;
						background-color: transparent;
						transition: border 0.3s, background-color 0.3s, color 0.3s;
						cursor: pointer;

						&:hover {
							border: 3px solid $creme-white;
							background-color: $turqoise;
							color: $creme-white;
						}
					}
				}

				.profile-picture,
				.dots {
					display: none;
				}

				.profile-picture {
					height: 500px;
					border: 4px solid $blue;
					order: 1;
					z-index: 3;
				}

				.dots {
					position: absolute;
					bottom: -80px;
					left: -80px;
					width: 320px;
					z-index: 2;
				}
			}
		}
	}

	.testimonials {
		margin-top: 2em;
		padding: 1.5em 1em;

		.wrapper {
			.testimonials-box {
				@include flexCenter();
				flex-direction: column;
				margin-top: 1em;

				&__block {
					margin: 2em 1em;
					padding: 1em;
					max-width: 450px;
					background-color: $bg-color;
					box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

					&-company {
						@include flexCenter();

						&-logo {
							margin-right: 0.5em;
							height: 40px;
							width: 40px;
							border-radius: 50%;
							@include imgCenter();

							&--first {
								background-image: url("../img/company-2.png");
							}

							&--second {
								background-image: url("../img/company-1.jpg");
							}

							&--third {
								background-image: url("../img/company-3.jpg");
							}
						}

						&-name {
							margin-left: 0.25em;
							font-family: "Titillium Web", sans-serif;
							font-size: 2.2rem;
							color: $dark;
						}
					}

					&-stars {
						@include flexCenter();
						margin-top: 0.8em;

						svg {
							margin: 0 0.1em;
						}
					}

					&-content {
						margin: 1.25em 0;

						&-description {
							font-family: "Poppins", sans-serif;
							font-size: 1.5rem;
							color: $grey2;
							text-align: center;
						}
					}
				}
			}
		}
	}

	.portfolio {
		position: relative;
		margin-top: 2em;
		padding: 1.5em 1em;
		background-color: $light-grey;
		overflow: hidden;

		.wrapper {
			position: relative;
			z-index: 1;

			.portfolio-box {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-around;
				flex-wrap: wrap;

				&__website {
					position: relative;
					@include flexCenter();
					margin: 2em 1em;
					width: min(100%, 300px);
					@include imgCenter();
					border: 6px solid $turqoise2;
					border-radius: 15px;
					overflow: hidden;
					cursor: pointer;

					&-img {
						width: min(100%, 300px);
						border-radius: 8px;
					}

					&-text {
						position: absolute;
						top: 0;
						bottom: 0;
						right: 0;
						left: 0;
						display: flex;
						flex-direction: column;
						justify-content: center;
						padding: 1em;
						font-family: "Poppins", sans-serif;
						background: rgb(1, 124, 140);
						background: linear-gradient(
							270deg,
							rgba(1, 124, 140, 0.65) 20%,
							rgba(16, 165, 160, 0.65) 65%,
							rgba(35, 214, 185, 0.65) 100%
						);
						color: white;
						text-align: center;
						clip-path: circle(0 at 50% 90%);
						transition: clip-path 0.5s;

						&-company {
							font-size: 3rem;
							font-weight: bold;
						}

						&-description {
							font-size: 1.8rem;
						}
					}
				}

				.portfolio-box__website:hover .portfolio-box__website-text,
				.hover .portfolio-box__website-text {
					clip-path: circle(120% at 50% 90%);
				}
			}
		}

		.decoration-circle {
			position: absolute;
			background-color: transparent;
			border-radius: 50%;
			z-index: 0;

			&--first {
				top: 5%;
				left: -20%;
				width: 1000px;
				height: 1000px;
				border: 30px solid $turqoise-light;
				animation: circleOne 15s ease-in-out infinite;
				opacity: 0.3;
			}

			&--second {
				top: 35%;
				left: -15%;
				height: 800px;
				width: 800px;
				border: 30px solid $turqoise;
				animation: circleTwo 13s ease-out infinite;
				opacity: 0.1;
			}
		}
	}

	.contact {
		position: relative;
		padding: 1.5em 1em 4em 1em;
		background: rgb(1, 124, 140);
		background: linear-gradient(
			90deg,
			rgba(1, 124, 140, 1) 20%,
			rgba(16, 165, 160, 1) 65%,
			rgba(35, 214, 185, 1) 100%
		);
		overflow: hidden;

		.section-title {
			margin-top: 1em;
			color: $creme-white;
			text-align: left;
		}

		.skew-decoration {
			position: absolute;
			width: 75%;
			height: 25px;

			&--top {
				top: 0;
				left: 0;
				background-color: $light-grey;
				transform: translateX(-20px) skew(-55deg);
			}

			&--bottom {
				bottom: -3px;
				right: 0;
				background-color: $bg-color;
				transform: translateX(20px) skew(-55deg);
			}
		}

		&-box {
			@include flexCenter();
			flex-direction: column;
			margin-top: 2em;

			&__elements {
				display: flex;
				flex-direction: column;

				&-element {
					@include flexCenter();
					flex-direction: column;
					margin: 0.5em 0;
					padding: 1em;

					&-text {
						margin-top: 0.5em;
						text-align: center;

						&-upper,
						&-lower {
							color: $creme-white;
						}

						&-upper {
							font-size: 1.8rem;
							font-family: "Titillium Web", sans-serif;
							font-weight: 600;
						}

						&-lower {
							font-family: "Poppins", sans-serif;
							font-weight: 300;
						}
					}
				}
			}

			&__form {
				margin-top: 1em;
				text-align: center;

				&-info {
					margin-bottom: 0.5em;
					font-family: "Poppins", sans-serif;
					font-weight: 300;
					color: $creme-white;
				}

				.form {
					.form-input,
					.form-textarea {
						margin: 0.4em 0;
						padding: 0 0.5em;
						width: 100%;
						font-family: "Poppins", sans-serif;
						font-size: 1.3rem;
						border-radius: 6px;
						border: none;
					}

					.form-input {
						height: 40px;
					}

					.form-textarea {
						padding: 0.5em;
						max-height: 300px;
						resize: vertical;
					}

					.form-button {
						width: 100%;
						padding: 0.4em 1.4em;
						font-family: "Poppins", sans-serif;
						font-size: 1.8rem;
						color: $creme-white;
						background-color: transparent;
						border: 2px solid $creme-white;
						border-radius: 6px;
						transition: background-color 0.3s, border 0.3s, color 0.3s;
						cursor: pointer;

						&:hover {
							background-color: $creme-white;
							border: 2px solid $turqoise;
							color: $turqoise;
						}
					}
				}
			}

			.msg-status {
				display: block;
				margin-top: 1em;
				font-family: "Poppins", sans-serif;
				font-weight: bold;
				color: $creme-white;
				visibility: hidden;
			}

			.success,
			.error {
				visibility: visible;
			}

			.error {
				color: tomato;
			}
		}
	}
}

.footer {
	&__desktop {
		display: none;
		align-items: center;
		justify-content: space-between;
		padding: 2em;

		&-logo {
			width: 60px;
			height: 60px;
			cursor: pointer;
		}

		&-links {
			&-link {
				margin: 0 1em;
				font-family: "Poppins", sans-serif;
				font-weight: 600;
				color: $dark;
				text-decoration: none;
				transition: color 0.3s;

				&:hover {
					color: $dark-hover;
				}
			}
		}

		&-socials {
			display: flex;

			&-button {
				margin: 0 0.5em;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background-color: $turqoise2;
				border: none;
				transition: background-color 0.3s;
				cursor: pointer;

				&:hover {
					background-color: $turqoise;
				}
			}
		}
	}

	&__mobile {
		padding: 1em;
		text-align: center;

		&-text {
			font-family: "Poppins", sans-serif;
			font-weight: 300;
			color: $grey;
		}

		&-button {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			margin: 1em;
			width: 35px;
			height: 35px;
			background-color: $turqoise2;
			border: none;
			border-radius: 50%;
			cursor: pointer;

			&:hover {
				background-color: $turqoise;
			}
		}
	}
}

@keyframes navItemsAnimation {
	from {
		transform: translateX(100%);
		opacity: 0;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes circleOne {
	0% {
		transform: translateY(0) translateX(0);
	}

	50% {
		transform: translateY(8%) translateX(10%);
	}

	100% {
		transform: translateY(0) translateX(0);
	}
}

@keyframes circleTwo {
	0% {
		transform: translateY(0) translateX(0);
	}

	50% {
		transform: translateY(-8%) translateX(-10%);
	}

	100% {
		transform: translateY(0) translateX(0);
	}
}
